<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida:</p>
<p>Dá uma conferida nas informações:</p>
<p>
    <strong>Pergunta: </strong> {{ question }} <br />
    <strong>Resposta: </strong> {{ answer }} <br />
</p>
<p>Mais alguma dúvida? Faz ela no <strong>Gympoint</strong>!</p>
